<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @product.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @product.rating %>
</p>

<p>
  <strong>Product User:</strong>
  <%= @product.user %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<br>
<%= render 'reviews/form' %>
<br><br>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<br><br>
<br><br>

  <% if @reviews.any?%>
<p>
  <div class="review">

  <strong>Reviews:</strong><br><br>
    </div>

    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td>
            <div class="username">
            <% username = review.user.profile.username if defined? review.user.profile %><%= username ? username : "unknown" %>:</td>
                        </div>
            <div class="content">
          <td><%= review.content %></td>
          <%= link_to 'x',product_review_path(@product,review),method: :delete%>
          <br><br>
          </div>
        </tr>
      <% end %>
    </tbody>
  <!-- </table> -->
<% end %>
</p>
