<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @product.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @product.rating %>
</p>

<p>
  <strong>Product User:</strong>
  <%= @product.user %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= render 'reviews/form' %>

<%#= link_to 'Rreview', review_path(@review) %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<br><br>

  <% if @reviews.any?%>
<p>
  <strong>Reviews:</strong><br>

  <table class="table">
    <thead class="thead-default">
      <tr>
        <th>No.</th>
        <th>Content</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <th scope="row"><%= review.id %></th>
          <td><%= review.content %></td>
          <td><%= review.user.profile.username if defined? review.user.profile %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</p>
